.searchOne {
  padding: 10px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border:2px solid #CDE6EE;
  border-radius: 1%;
  display: flex;
  gap: 5px;
  .item {
    margin:5px;
    padding: 5px;
    height: 180px;
  }

  .slika {
    background-image: url("../../../public/download.png");
    background-size: cover;
    background-position: center;
    flex: 1;
  }

  .desc {
    line-height: 40px;
    span {
      display: block;
    }
    flex: 3;
  }
  .dugme {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    button {
      margin-bottom: 10px;
      background-color: white ;
      border: none;
      cursor: pointer;
      border: 2px solid grey;
      border-radius: 10%;
      width: 100px;
    }
    flex: 1;
  }
}
